In [11]:
from MAT311.load import load_data, evaluate_model, plot_roc_curve, create_submission
import json
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
from MAT311.encode_cat import encode_category

churn_train = pd.read_csv("../data/raw/train.csv")
churn_test = pd.read_csv("../data/raw/test.csv")
churn_test.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Last Due Date,Last Payment Date,Customer Status
0,262106,65,Male,16.0,16,3,14,Standard,Monthly,853.00,4.0,06-21,07-05,active
1,37061,23,Male,NaN,12,3,6,Premium,Annual,860.00,21.0,06-03,06-09,active
2,361832,49,Male,NaN,25,2,4,Premium,Quarterly,905.58,15.0,06-13,06-17,active
3,425516,25,Female,48.0,11,7,16,Premium,Quarterly,446.00,8.0,06-14,06-30,active
4,60597,52,Female,4.0,10,6,3,Basic,Monthly,933.29,28.0,06-17,06-20,active

In [31]:
X = pd.get_dummies(churn_test, columns=["Customer Status"], prefix="Customer Status", dtype = int)



submission = pd.DataFrame({
    "CustomerID": churn_test["CustomerID"],
    "Churn": ((churn_test["Customer Status"] == "inactive").astype(int))
})

submission.head()
# submission["Churn"].value_counts(normalize= True)

   CustomerID  Churn
0      262106      0
1       37061      0
2      361832      0
3      425516      0
4       60597      0